<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EmployeeRestApi">

<listeners>
<listener class-name="com.employeeapi.utilities.Reports"/>
</listeners>

<test name="EmployeesAPI Automation">

<classes>
<class name="com.employeeapi.testcases.GetAllEmployees_TC_001"/>
<class name="com.employeeapi.testcases.GetEmployeeByID_TC_002"/>
<class name="com.employeeapi.testcases.PostCreateEmployee_TC_003"/>
<class name="com.employeeapi.testcases.UpdateEmployeeRecord_TC_004"/>
<class name="com.employeeapi.testcases.DeleteEmployeeRecord_TC_005"/>
</classes>
</test>

</suite>